@page
@model MyScriptureJournal.Pages.Entries.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Entry</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Entry.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Entry.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Entry.Notes)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Entry.Notes)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Entry.AddedDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Entry.AddedDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Entry.Book)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Entry.Book)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Entry.Scripture)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Entry.Scripture)
            </dd>
        </dl>
    </div>
</div>

<div class="mt-3">
    <a asp-page="./Edit" asp-route-id="@Model.Entry?.Id" class="btn btn-primary">Edit</a> |
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</div>
